body {
  position: absolute;
}
.container-fluid {
  position: relative;
  min-height: 100vh;
  background: #1f1c39;
}
.carousel-indicators {
  position: absolute;
  z-index: 6;
  justify-content: left;
  bottom: 32vh;
  left: -10vw;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  margin: 10px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 3vh;
}

.carousel-control-next,
.carousel-control-prev {
  position: relative;
  width: 6vw;
  height: 5vh;
  background-color: rgb(77, 83, 105);
  opacity: 1;
  border: 1px solid #1f1c39;
  bottom: 25vh;
  left: 7vw;
}
.carousel-control-next {
  border-radius: 0 25% 25% 0;
}
.carousel-control-prev {
  border-radius: 25% 0 0 25%;
}
.btn-group {
  position: absolute;
  left: -1vw;
  bottom: 18vh;
  z-index: 6;
}

.box1 {
  height: 40vh;
  width: 45vw;
  background: rgb(85, 85, 106);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 100px 0 0;
  z-index: 2;
}
.box2 {
  height: 36vh;
  width: 43vw;
  background: #1f1c39;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 85px 0 0;
  z-index: 3;
}
.box3 {
  height: 32vh;
  width: 41vw;
  background: rgb(85, 85, 106);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 70px 0 0;
  z-index: 4;
}
.box4 {
  height: 28vh;
  width: 39vw;
  background: #1f1c39;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 60px 0 0;
  z-index: 5;
}
.details {
  color: rgb(149, 124, 233);
  justify-self: center;
}
.card {
  z-index: 7;
  max-width: 330px;
  min-width: 280px;
}
.card-body > .p {
  font-size: 0.9rem;
}
.card-body > .themes > .text-muted > .text {
  font-size: 0.9rem;
}
img {
  width: 4vw;
}
.logo-text {
  font-size: 0.6rem;
}
.description {
  position: relative;
  z-index: 6;
}
