.card-body {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4040f8,
    #6dd5ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 88vh;
}
footer {
  height: 12vh;
}
#second-card {
  border: none;
  max-height: 80vh;
}
::placeholder,
.list-unstyled,
option {
  color: white;
  font-weight: lighter;
}
.inputValue {
  border-style: none;
  border-bottom: #afbdc4 1px solid;
}
.form-control::placeholder {
  color: white;
}
li {
  padding: 0.1rem;
}
hr {
  color: white;
}
#image {
  position: relative;
}
#table {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
@media only screen and (max-width: 768px) {
  #table {
    position: absolute;
    top: 188px;
    left: 16px;
  }
}
