* {
  margin: 2px;
  padding: 2px;
}
h1 {
  text-align: center;
  background-color: aquamarine;
}
p {
  padding: 2px 10px;
}

form {
  background-color: burlywood;
  text-align: center;
}
.problem {
  color: #337;
  text-align: center;
  background-color: antiquewhite;
  font-size: large;
}
input {
  margin: 6px;
}
#result {
  font-weight: bold;
  color: green;
}
